<b>Preprocessing German Credit Dataset</b></br>
</br>
Ka Wai Tang (s2064845)</br>
</br>
The purpose of this Jupyter Notebook is to preprocess the German Credit Dataset to a more readable format, so it can be used for machine learning purposes.</br>
</br>

1. Import the packages

In [1]:
import numpy as np
import pandas as pd

In [2]:
datadirectory = "/Users/kawai/Thesis DSS/statlog+german+credit+data/"
#datadirectory = "/Users/kawai/Thesis DSS/Dataset/"

In [3]:
columns = ['existingchecking', 'duration', 'credithistory', 'purpose', 'creditamount', 
         'savings', 'employmentsince', 'installmentrate', 'statussex', 'otherdebtors', 
         'residencesince', 'property', 'age', 'otherinstallmentplans', 'housing', 
         'existingcredits', 'job', 'peopleliable', 'telephone', 'foreignworker', 'classification']

creditdata = pd.read_table(datadirectory + "german.data", names = columns, delimiter = ' ')
#creditdata = pd.read_csv(datadirectory + "german_credit_data.csv")

In [4]:
creditdata

,existingchecking,duration,credithistory,purpose,creditamount,savings,employmentsince,installmentrate,statussex,otherdebtors,...,property,age,otherinstallmentplans,housing,existingcredits,job,peopleliable,telephone,foreignworker,classification
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1

As you can see below, the data is loaded. However, the data has been anonymized by some variables starting with A...</br>
According tot he documentation on the UC Irvine page (link: https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data) we pre-process the data in a more readable way.</br>

In [5]:
creditdata.head(10)
print(creditdata.shape)
print (creditdata.columns)

(1000, 21)
Index(['existingchecking', 'duration', 'credithistory', 'purpose',
       'creditamount', 'savings', 'employmentsince', 'installmentrate',
       'statussex', 'otherdebtors', 'residencesince', 'property', 'age',
       'otherinstallmentplans', 'housing', 'existingcredits', 'job',
       'peopleliable', 'telephone', 'foreignworker', 'classification'],
      dtype='object')

Therefore, we change all the categorical variables</br>
For aif360, it is perferred to convert everything to floating numbers. So I put this into numbers.</br>

In [6]:
#Change Variables

#Attribute 1: Status of existing checking account
#A11 = < 0 Deutsche Mark (DM)
creditdata.loc[creditdata['existingchecking'] == 'A11', 'existingchecking'] = 1
#A12 = 0 <= 200 DM
creditdata.loc[creditdata['existingchecking'] == 'A12', 'existingchecking'] = 2
#A13 >= 200 DM/salary assignments for at least 1 year
creditdata.loc[creditdata['existingchecking'] == 'A13', 'existingchecking'] = 3
#A14 = No checking account
creditdata.loc[creditdata['existingchecking'] == 'A14', 'existingchecking'] = 0

#Categories are
# No Checking account = 0
# < 0 Deutsche Mark (DM) = 1
# 0 <= 200 DM = 2
# >= 200 DM/salary assignments for at least 1 year = 3

In [7]:
# Credit history
#
# Coded against the specifications of Chakraborty et al. (2021)
#
# A30 = no credits taken/all credits paid back duly
creditdata.loc[creditdata['credithistory'] == 'A30', 'credithistory'] = 1
# A31 = all credits at this bank paid back duly till now
creditdata.loc[creditdata['credithistory'] == 'A31', 'credithistory'] = 2
# A32 = existing credits paid back duly till now
creditdata.loc[creditdata['credithistory'] == 'A32', 'credithistory'] = 3
# A33 : delay in paying off in the past
creditdata.loc[creditdata['credithistory'] == 'A33', 'credithistory'] = 4
# A34 : critical account/  other credits existing (not at this bank)
creditdata.loc[creditdata['credithistory'] == 'A34', 'credithistory'] = 0

In [8]:
# Purpose
#
#
# 0 = others
# 1 = cars (used and new cars), for general this is using it for a car
# 2 = furniture/equipment
# 3 = radio/television
# 4 = domesticAppliances
# 5 = repairs
# 6 = education
# 7 = vacation
# 8 = retraining
# 9 = business


creditdata.loc[creditdata['purpose'] == 'A40', 'purpose'] = 1 # used car, but omitted to 'car'
creditdata.loc[creditdata['purpose'] == 'A41', 'purpose'] = 1 # new car, but omitted to 'car'
creditdata.loc[creditdata['purpose'] == 'A42', 'purpose'] = 2 # furniture/equipment
creditdata.loc[creditdata['purpose'] == 'A43', 'purpose'] = 3 # radio/television
creditdata.loc[creditdata['purpose'] == 'A44', 'purpose'] = 4 # domestic appliances
creditdata.loc[creditdata['purpose'] == 'A45', 'purpose'] = 5 # repairs
creditdata.loc[creditdata['purpose'] == 'A46', 'purpose'] = 6 # education
creditdata.loc[creditdata['purpose'] == 'A47', 'purpose'] = 7 # vacation
creditdata.loc[creditdata['purpose'] == 'A48', 'purpose'] = 8 # retraining
creditdata.loc[creditdata['purpose'] == 'A49', 'purpose'] = 9 # business
creditdata.loc[creditdata['purpose'] == 'A410', 'purpose'] = 0 # others

In [9]:
# Savings account / bonds
#
# 
# 1 =  'below100'
# 2 = 'betw100a500'
# 3 = 'betw500a1000'
# 4 = 'above1000'
# 0 = 'unknown/nosavings'

creditdata.loc[creditdata['savings'] == 'A61', 'savings'] = 1 # below 100 DM
creditdata.loc[creditdata['savings'] == 'A62', 'savings'] = 2 # between 100 DM and 500 DM
creditdata.loc[creditdata['savings'] == 'A63', 'savings'] = 3 # between 500 DM and 1000 DM
creditdata.loc[creditdata['savings'] == 'A64', 'savings'] = 4 # above 1000 DM of savings
creditdata.loc[creditdata['savings'] == 'A65', 'savings'] = 0 # unknown or no savings

In [10]:
#Employment

# 0 = unemployed
# 1 = less than one year
# 2 = between 1 and 4 years
# 3 = between 4 and 7 years
# 4 = more than 7 years

creditdata.loc[creditdata['employmentsince'] == 'A71', 'employmentsince'] = 0 # unemployed
creditdata.loc[creditdata['employmentsince'] == 'A72', 'employmentsince'] = 1 # less than one year
creditdata.loc[creditdata['employmentsince'] == 'A73', 'employmentsince'] = 2 # between 1 and less than 4 years
creditdata.loc[creditdata['employmentsince'] == 'A74', 'employmentsince'] = 3 # between 4 and less than 7 years
creditdata.loc[creditdata['employmentsince'] == 'A75', 'employmentsince'] = 4 # more than 7 years

In [11]:
#statussex consists of 'marital status' and 'sex'
#First I split this up by creating two variables
# 'marital status'
# 'sex'

creditdata['maritalStatus'] = creditdata['statussex']
creditdata['sex'] = creditdata['statussex']

#single = 0
#divorced/separated = 1
#divorced/separated/married = 1
#married/widowed = 1

creditdata.loc[creditdata['maritalStatus'] == 'A95', 'maritalStatus'] = 0 #singleFemale
creditdata.loc[creditdata['maritalStatus'] == 'A93', 'maritalStatus'] = 0 #singleMale
creditdata.loc[creditdata['maritalStatus'] == 'A92', 'maritalStatus'] = 1 #others
creditdata.loc[creditdata['maritalStatus'] == 'A91', 'maritalStatus'] = 1 #others
creditdata.loc[creditdata['maritalStatus'] == 'A94', 'maritalStatus'] = 1 #others

# For Sex, the 'Male' group gets 1 and the female group get 0.
# The reason why 'male' group gets number 1 assigned is that this is the majority class for the protected variable.
# Aif360 recognises 1 as the majority group.
# Aif360 needs to define the advantaged group into a floating number
# My script recognises ... as the majority group 

creditdata.loc[creditdata['sex'] == 'A91', 'sex'] = 1 #male
creditdata.loc[creditdata['sex'] == 'A92', 'sex'] = 0 #female
creditdata.loc[creditdata['sex'] == 'A93', 'sex'] = 1 #male
creditdata.loc[creditdata['sex'] == 'A94', 'sex'] = 1 #male
creditdata.loc[creditdata['sex'] == 'A95', 'sex'] = 0 #male

In [ ]:
creditdata['sex'].info

In [12]:
# Other debtors
# 0 = none
# 1= co-applicant
# 2 = guarantor
creditdata.loc[creditdata['otherdebtors'] == 'A101', 'otherdebtors'] = 0 # none
creditdata.loc[creditdata['otherdebtors'] == 'A102', 'otherdebtors'] = 1 # co-applicant
creditdata.loc[creditdata['otherdebtors'] == 'A103', 'otherdebtors'] = 2 # guarantor

In [13]:
# property
#
# property
# 0 = unknown/noProperty
# 1 = realEstate
# 2 = buildingSociety/lifeInsurance
# 3 = carOrOthers
creditdata.loc[creditdata['property'] == 'A121', 'property'] = 1
creditdata.loc[creditdata['property'] == 'A122', 'property'] = 2
creditdata.loc[creditdata['property'] == 'A123', 'property'] = 3
creditdata.loc[creditdata['property'] == 'A124', 'property'] = 0

In [14]:
# other Installment plans
#
# 0 = none
# 1 = stores
# 2 = bank
creditdata.loc[creditdata['otherinstallmentplans'] == 'A141', 'otherinstallmentplans'] = 2 # bank
creditdata.loc[creditdata['otherinstallmentplans'] == 'A142', 'otherinstallmentplans'] = 1 # stores
creditdata.loc[creditdata['otherinstallmentplans'] == 'A143', 'otherinstallmentplans'] = 0 # none

In [15]:
#housing

# 0 = rent
# 1 = own
# 2 = forFree

creditdata.loc[creditdata['housing'] == 'A151', 'housing'] = 0 # rent
creditdata.loc[creditdata['housing'] == 'A152', 'housing'] = 1 # own
creditdata.loc[creditdata['housing'] == 'A153', 'housing'] = 2 # forFree

In [16]:
#job
#
# 0 = unemployed/unskilled/non-resident
# 1 = unskilled/resident
# 2 = skilled/official
# 3 = management/self-employed/highlyqualemployee/officer

creditdata.loc[creditdata['job'] == 'A171', 'job'] = 0 # unemployed/unskilled/non-resident
creditdata.loc[creditdata['job'] == 'A172', 'job'] = 1 # unskilled/resident
creditdata.loc[creditdata['job'] == 'A173', 'job'] = 2 # skilled/official
creditdata.loc[creditdata['job'] == 'A174', 'job'] = 3 # management/self-employed/highlyqualemployee/officer

In [17]:
#telephone
#
# 0 = no telephone number (none)
# 1 = yes

creditdata.loc[creditdata['telephone'] == 'A191', 'telephone'] = 0 # no telephone number
creditdata.loc[creditdata['telephone'] == 'A192', 'telephone'] = 1 # yes

In [18]:
#Foreign worker
# 1 = yes
# 0 = no

creditdata.loc[creditdata['foreignworker'] == 'A201', 'foreignworker'] = 1 # yes
creditdata.loc[creditdata['foreignworker'] == 'A202', 'foreignworker'] = 0 # no

In [19]:
creditdata.head(100)

,existingchecking,duration,credithistory,purpose,creditamount,savings,employmentsince,installmentrate,statussex,otherdebtors,...,otherinstallmentplans,housing,existingcredits,job,peopleliable,telephone,foreignworker,classification,maritalStatus,sex
0,1,6,0,3,1169,0,4,4,A93,0,...,0,1,2,2,1,1,1,1,0,1
1,2,48,3,3,5951,1,2,2,A92,0,...,0,1,1,2,1,0,1,2,1,0
2,0,12,0,6,2096,1,3,2,A93,0,...,0,1,1,1,2,0,1,1,0,1
3,1,42,3,2,7882,1,3,2,A93,2,...,0,2,1,2,2,0,1,1,0,1
4,1,24,4,1,4870,1,2,3,A93,0,...,0,2,2,2,2,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,54,1,9,15945,1,1,3,A93,0,...,0,0,1,2,1,1,1,2,0,1
96,0,12,0,6,2012,0,3,4,A92,0,...,0,1,1,2,1,0,1,1,1,0
97,2,18,3,9,2622,2,2,4,A93,0,...,0,1,1,2,1,0,1,1,0,1
98,2,36,0,3,2337,1,4,4,A93,0,...,0,1,1,2,1,0,1,1,0,1
99,2,20,4,1,7057,0,3,3,A93,0,...,2,0,2,3,2,1,1,1,0,1

In [20]:
# Classification
# 0 = bad credit
# 1 = good credit
#creditdata.loc[creditdata['classification'] == '2', 'classification'] = 0 # 2 = bad credit score gets label 0
#creditdata.loc[creditdata['classification'] == '1', 'classification'] = 1

creditdata['classification'] = creditdata['classification'].replace(2, 0) #  bad credit score (with label 2) gets label 0
creditdata['classification'] = creditdata['classification'].replace(1, 1) # good credit score (with label 1) gets label 1
# 1 = good credit score gets label 1

In [ ]:
# Question: how many unique output variables?
creditdata['classification'].value_counts()

In [ ]:
creditdata.describe()

Now all the variables are pre-processed (final inspection) and it is already exported to statlosGermanCreditData.csv.

In [21]:
creditdata.head(10)

,existingchecking,duration,credithistory,purpose,creditamount,savings,employmentsince,installmentrate,statussex,otherdebtors,...,otherinstallmentplans,housing,existingcredits,job,peopleliable,telephone,foreignworker,classification,maritalStatus,sex
0,1,6,0,3,1169,0,4,4,A93,0,...,0,1,2,2,1,1,1,1,0,1
1,2,48,3,3,5951,1,2,2,A92,0,...,0,1,1,2,1,0,1,0,1,0
2,0,12,0,6,2096,1,3,2,A93,0,...,0,1,1,1,2,0,1,1,0,1
3,1,42,3,2,7882,1,3,2,A93,2,...,0,2,1,2,2,0,1,1,0,1
4,1,24,4,1,4870,1,2,3,A93,0,...,0,2,2,2,2,0,1,0,0,1
5,0,36,3,6,9055,0,2,2,A93,0,...,0,2,1,1,2,1,1,1,0,1
6,0,24,3,2,2835,3,4,3,A93,0,...,0,1,1,2,1,0,1,1,0,1
7,2,36,3,1,6948,1,2,2,A93,0,...,0,0,1,3,1,1,1,1,0,1
8,0,12,3,3,3059,4,3,2,A91,0,...,0,1,1,1,1,0,1,1,1,1
9,2,30,0,1,5234,1,0,4,A94,0,...,0,1,2,3,1,0,1,0,1,1

In [22]:
# Sort everything by columns
creditdata = creditdata[['existingchecking','statussex', 'sex', 'maritalStatus', 'duration', 'credithistory', 'purpose', 'creditamount', 
         'savings', 'employmentsince', 'installmentrate', 'otherdebtors', 
         'residencesince', 'property', 'age', 'otherinstallmentplans', 'housing', 
         'existingcredits', 'job', 'peopleliable', 'telephone', 'foreignworker', 'classification']]
creditdata

,existingchecking,statussex,sex,maritalStatus,duration,credithistory,purpose,creditamount,savings,employmentsince,...,property,age,otherinstallmentplans,housing,existingcredits,job,peopleliable,telephone,foreignworker,classification
0,1,A93,1,0,6,0,3,1169,0,4,...,1,67,0,1,2,2,1,1,1,1
1,2,A92,0,1,48,3,3,5951,1,2,...,1,22,0,1,1,2,1,0,1,0
2,0,A93,1,0,12,0,6,2096,1,3,...,1,49,0,1,1,1,2,0,1,1
3,1,A93,1,0,42,3,2,7882,1,3,...,2,45,0,2,1,2,2,0,1,1
4,1,A93,1,0,24,4,1,4870,1,2,...,0,53,0,2,2,2,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,A92,0,1,12,3,2,1736,1,3,...,1,31,0,1,1,1,1,0,1,1
996,1,A91,1,1,30,3,1,3857,1,2,...,2,40,0,1,1,3,1,1,1,1
997,0,A93,1,0,12,3,3,804,1,4,...,3,38,0,1,1,2,1,0,1,1
998,1,A93,1,0,45,3,3,1845,1,2,...,0,23,0,2,1,2,1,1,1,0
999,2,A93,1,0,45,0,1,4576,2,0,...,3,27,0,1,1,2,1,0,1,1

In [23]:
creditdata.to_csv("statlogGermanCreditData_float.csv")